{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "linebreak-style": 0,
    "@typescript-eslint/dot-notation": "off",
    "@typescript-eslint/no-implied-eval": "off",
    "@typescript-eslint/no-throw-literal": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "globals": {
    "window": true,
    "document": true
  }
}
